/* SUMMARY
  0. VARIABLES
  1. GLOBAL
  2. LAYOUT
  3. SECTION
  4. CARD
*/

/*** 0. VARIABLES ***/
:root {
    --color-dark: #000;
    --color-light: #fff;
    --color-primary: #ff6565;
    --font-family-regular: "Source Sans Pro", sans-serif;
    --font-family-logo: "Spin-Cycle-OT", sans-serif;
}

@font-face {
    font-family: Spin-Cycle-OT;
    src: url("fonts/spincycle_ot.otf");
    font-weight: bold;
}

/*** 1. GLOBAL ***/
@import "normalize";

html {
    scroll-behavior: smooth;
}
.btn {
    border-radius: 22px;
    border: none;
    padding: 13px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font-family-regular);
}

.btn-primary {
    color: var(--color-light);
    background-color: var(--color-primary);
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

/*** 2. LAYOUT ***/
/* -- Header -- */

header {
    width: 100%;
}

header .container {
    padding: 0 2rem 0 2rem;
    display: block;
    width: 75%;
    max-width: 1000px;
    margin: 27px auto;
    position: relative;
}

.header-logo {
    position: absolute;
    width: 100%;
    left:0;
    text-align: left;
}

.header-logo a {
    display: block;
    width: 161px;
    height: 32px;
    background: transparent url("images/logo_headphones.png") no-repeat left top;
    background-size: 161px 32px;
    text-indent: -9999px;
}

/* -- Header / nav -- */

.navbar-menu a {
    color: var(--color-light);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: lowercase;
    transition: all 300ms;
}

.navbar-menu a:hover {
    color: var(--color-primary);
}

/* Header / Nav / Hamburger menu */
.navbar-menu .nav {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 16px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 110%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .navbar-menu {
    display: block;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
@media (max-width: 48em) {
    .navbar-menu {
        display: none;
    }
    .header-logo a {
        margin: auto;
    }
    .navbar-menu .nav .nav-item {
        text-align: center;
    }
}

@media (min-width: 48em) {
    .navbar-menu {
        float: right;
    }
    .navbar-menu .nav .nav-item {
        display: inline-flex;
        margin: 0 20px;
        line-height: 32px;
    }
    
    .navbar-menu .nav .nav-item:first-child {
        margin-left: 0;
    }
    
    .navbar-menu .nav .nav-item:last-child {
        margin-right: 0;
    }
    .header .menu-icon {
        display: none;
    }

    .header-logo {
        left:32px;
        width: 200px;
    }
}

/* -- Main -- */

.main-page {
    font-family: var(--font-family-regular);
}
.header {
    position: absolute;
}
.header-logo {
    font-family: var(--font-family-logo);
    text-transform: uppercase;
}
.header-logo a {
    text-decoration: none;
    color: var(--color-light);
}
.section-hero {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d8d8d8 url("images/headphones_hero_1.jpg") no-repeat top center;
    background-size: cover;
    color: var(--color-light);
}

.section-hero .body {
    padding-top: 45vh;
    text-align: center;
    width: 100%;
    min-width: 357px;
    max-width: 637px;
    font-size: 16px;
    line-height: 26px;
}

.section-hero .body .inner {
    padding: 0 30px;
}

.section-hero h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    font-weight: bold;
}

.section-hero .tagline {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.section-hero .call-to-action {
    margin: 40px 0;
}
