meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,viewport-fit=cover")
title Holberton School - Headphones
meta(name="description", content="A great set of headphones with incredible sound!")
// Include Web Fonts
link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap", rel="stylesheet")
// Favicons
link(rel="icon", type="image/x-icon", href="images/favicon.ico")
link(rel="icon", type="image/png", href="images/favicon.png")
// Main Style