input.menu-btn#menu-btn(type="checkbox")
label.menu-icon(for="menu-btn")
    span.navicon
nav.navbar-menu
    ul.nav.menu
        li.nav-item
            a(href="#what-we-do") What We Do
        li.nav-item
            a(href="#our-results") Our Results
        li.nav-item
            a(href="#contact-us") Contact Us