section.section-hero
    .container
        .body
            section.inner
                h2.section-title Lorem ipsum dolor set amet lorem ipsum
                p.tagline Lorem ipsum dolor set amet lorem ipsum dolor set
                .call-to-action
                    button.btn.btn-primary(type='submit') CALL TO ACTION
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.