section#contact-us.light
    .container
        header.section-header
            h2 Contact us
        .body
            form(action="#" method="post")
                fieldset
                    legend.visually-hidden Your personal information
                    .form-group
                        label(for="name") Name
                        input(type="text", name="name", placeholder="Name", pattern="[A-Za-zÀ-ž\s]{3,}", maxlength="50", autocomplete="on", accesskey="f", required)
                        p.form-help Name is required and only letters
                    .form-group
                        label(for="email") Email
                        input(type="email", name="email", placeholder="Email", pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$", maxlength="55", autocomplete="on", accesskey="e", required)
                        p.form-help Need to be a valid Email address
                    .form-group
                        label(for="message") Your message
                        input(type="text", name="message", placeholder="Your message", pattern="[A-Za-zÀ-ž\s]{4,}", maxlength="75", autocomplete="on", accesskey="t", required)
                        p.form-help Comment should be at least 10 characters
                    .callto
                        button.btn.btn-primary(type="submit") CALL TO ACTION
