section#our-results.dark
    .container
        header.section-header
            h2 Our results speak for themselves
            p.tagline
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        .body
            ul.row
                li.col-1-4
                    .card-ourresults
                        h3 +2%
                        p Lorem ipsum dolor
                li.col-1-4
                    .card-ourresults
                        h3 +2%
                        p Lorem ipsum dolor
                li.col-1-4
                    .card-ourresults
                        h3 +2%
                        p Lorem ipsum dolor
                li.col-1-4
                    .card-ourresults
                        h3 +2%
                        p Lorem ipsum dolor