section#what-we-do.light
    .container
        header.section-header
            h2 What we do&hellip;
            p.tagline
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        .body
            ul.row
                li.col-1-4
                    .card-whatwedo
                        span.glyph.holberton_school-icon-ic_sound
                        h3 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                li.col-1-4
                    .card-whatwedo
                        span.glyph.holberton_school-icon-ic_video
                        h3 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                li.col-1-4
                    .card-whatwedo
                        span.glyph.holberton_school-icon-ic_music
                        h3 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                li.col-1-4
                    .card-whatwedo
                        span.glyph.holberton_school-icon-ic_hearing
                        h3 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.