ul.nav.social
    li.nav-item
        a.social-link(href="https://www.facebook.com/HolbertonSchool/")
            span.glyph.holberton_school-icon-ic_facebook
    li.nav-item
        a.social-link(href="https://twitter.com/holbertonschool")
            span.glyph.holberton_school-icon-ic_twitter
    li.nav-item
        a.social-link(href="https://www.instagram.com/holbertonschool/")
            span.glyph.holberton_school-icon-ic_instagram
